.footer {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
   background-color: #999;
   color:white;

}
.footer a{
    text-decoration: none;
    color: white;
}