.navbar{
    display:flex;
    background-color: #000;
    padding: 20px 10px;
    gap:1rem;
}
.navbar a{
    color:#FFF;
    text-decoration: none;
    transition:0.3s;

}
.navbar a:hover { 
    color:#585858;

}